@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import "tailwindcss";

body {
  font-family: "PP Neue Montreal", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}
.char {
  padding: 10px 0px;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.03em;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 500;
}

section {
  @apply relative max-w-screen h-[100svh] bg-[#e0dfdf] text-[#0d0d0d] overflow-hidden;
}

.intro,
.outro {
  @apply flex justify-center items-center bg-[#0d0d0d] text-[#e0dfdf] p-[2rem];
}

.model-container {
  @apply absolute inset-0 h-full -z-1;
}

.header-1 {
  @apply absolute w-[200vw] h-[100svh] translate-x-[0%];
}

.header-2 {
  @apply absolute top-[0%] left-[0%] translate-x-[100%] text-[#e0dfdf] w-[150vw] h-[100svh] z-2;
}

.header-1,
.header-2 {
  @apply flex px-[2rem] items-center;
}

.header-1 h1,
.header-2 h1 {
  @apply w-full text-[15vw] tracking-[-.02em] leading-[1.25];
}

.circular-mask {
  @apply absolute top-[0%] left-[0%] bg-[#e0dfdf] w-full h-full z-2;
  clip-path: circle(0% at 50% 50%);
}

.tooltips {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[75%] h-[75%] flex gap-[15rem] lg:items-center lg:flex-col lg:gap-[2rem];
}

.tooltip {
  @apply flex flex-1 flex-col gap-[.5rem] text-[#e0dfdf] lg:w-[85%];
}

.tooltip:nth-child(2) {
  @apply justify-end items-end lg:justify-start lg:items-start;
}

.tooltip .divider {
  @apply relative w-full h-[1px] bg-[#5f5f5f] my-[.5rem] lg:w-[70%];
  transform: scaleX(0);
}

.tooltip:nth-child(1) .divider {
  transform-origin: right center;
}

.tooltip:nth-child(2) .divider {
  transform-origin: left center;
}

.tooltip .icon {
  @apply text-[2.5rem] overflow-hidden;
}

.tooltip .description {
  color: #5f5f5f;
}

.tooltip:nth-child(2) .icon,
.tooltip:nth-child(2) .title,
.tooltip .description {
  width: 75%;
}

.header-1 h1 .char,
.tooltip .title .line,
.tooltip .description .line {
  display: inline-block;
  overflow: hidden;
}

.header-1 h1 .char > span,
.tooltip .icon,
.tooltip .title .line > span,
.tooltip .description .line > span {
  position: relative;
  display: block;
  transform: translateY(100%);
  will-change: transform;
}

@media (max-width: 1024px) {
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  h2,
  .tooltip .icon {
    font-size: 1.5rem;
  }
  .tooltip:nth-child(2) .divider {
    transform-origin: right center;
  }

  .tooltip:nth-child(2) .icon,
  .tooltip:nth-child(2) .title {
    width: 100%;
  }
}
